@import 'tailwindcss';

:root {
  --background: hsl(10, 10%, 98%);
  --foreground: hsl(10, 20%, 20%);
  --surface: hsl(10, 10%, 96%);
  --primary: hsl(10, 80%, 45%);
  --hilight: var(--color-yellow-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(10, 20%, 5%);
    --foreground: hsl(10, 10%, 80%);
    --surface: hsl(10, 20%, 10%);
    --primary: hsl(10, 80%, 55%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-hilight: var(--hilight);
  --font-serif: var(--font-noto-serif);
  --font-display: var(--font-noto-serif-display);
}

@utility flex-center {
  @apply flex gap-2 items-center;
}

@utility flex-list {
  @apply flex flex-wrap gap-4;
}

@utility grid-list {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4 items-stretch;
}

@utility blurred-surface {
  background-color: color-mix(in oklab, var(--background) 84%, transparent);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

@utility sticky-aside {
  @apply sticky top-24 max-h-screen overflow-y-auto;
}

@utility box {
  @apply shadow-sm rounded border border-foreground/20;
}

@utility skeleton {
  @apply bg-foreground/20 rounded;
}

@utility lead {
  @apply text-lg font-bold;
}

@layer base {
  html {
    font-size: 18px;
  }

  body {
    font-size: 1rem;
  }

  a {
    @apply flex-center hover:text-primary active:text-primary/70 transition-colors;
  }

  h1 {
    @apply mb-6 text-3xl lg:text-4xl leading-tight font-bold;
  }

  h2 {
    @apply pt-7 mt-5 text-2xl lg:text-3xl font-semibold;
  }

  h3 {
    @apply text-xl lg:text-2xl font-semibold pt-3;
  }

  h2[id],
  h3[id] {
    scroll-margin-top: 2.5rem;
  }

  hr {
    @apply border-foreground/10 w-full;
  }

  small {
    @apply block text-sm text-foreground/80;
  }

  blockquote {
    @apply border-l-4 border-foreground/10 pl-4 text-foreground/80 text-sm space-y-5;
  }

  main {
    a {
      @apply inline-flex underline;
    }

    section {
      @apply space-y-5;
    }

    ul,
    ol {
      @apply ml-6;
    }

    ul {
      @apply list-disc [&_ul]:list-[revert] [&_ul]:ml-6;
    }

    ol {
      @apply list-decimal;
    }
  }

  .edge-padding {
    @apply px-6 lg:px-8;
  }
}
